:root {
    --light: #fffbf0;
    --red: #943d24;
    --dark: #282612;
    --green: #406e50aa;
    
}
/*tells browser to account for padding and border for the elements height and width*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}


.header {
    padding: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--green);
    color: var(--light);
    height: 80px;
}

.header h1 {
    font-size: 25px;
    display: inline-block;
    padding: 10px;
    -webkit-text-stroke: 0.5px var(--red);
}

/*this aligns nav bar to right of screen and changes nav background to red*/
.nav {
    background-color: var(--red);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 15px; 
} 

/*removes text decoration and changes font color to light*/
.nav a {
    color: var(--light);
    text-decoration: none;
}


/*removes list style, creates padding, defines display */
.nav ul li {
    list-style: none;
    padding: 5px;
    display:inline-block;
    text-transform: uppercase;
}

.nav ul li a{
    margin: 0 10px;
}

.nav ul li a:hover{
    background-color: var(--dark);
    
}


/*this sets a img at the main screen*/
.bg {
    height: 700px;
    width: 100%;
    margin-bottom: 0px;
    background-image: url("../images/akhood.png");
    background-size: cover;
    background-position: center;
}

.body {
    max-width: 100%;
}

/*this adds a padding, background color, text color and display grid to the content section*/
.content {
    max-width: 100%;
    padding: 10px;
    background-color: var(--light);
    color: var(--dark);
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 10px;
    
}

/*this puts a border on the right of the left side, with padding alignment, font weight and size*/
.left-side {
    border-right: 2px solid var(--red);
    padding: 5px;
    text-align: end;
    font-weight: bold;
    font-size: 16px;
}

/*this sets a margin and text size for the paragraph about me*/
.about p{
    margin:10px;
    font-size: 10px;
}

.portfolio {
    width:100%;
}

.current{
    height:auto;
    display:flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
}

.current img{
    width:75%;
    object-fit:scale-down;
}

/*this give a border around content in about to a red glow*/
.current img:hover {
    border: solid var(--red);
    box-shadow: 0px 0px 10px 0px var(--red);
    
}

/*this sets a margin and text size for the paragraph My Work*/
.work p{
    width:75%;
    padding: 10px;
    font-size: 12px;
}
/*this removes style from list and displays links in center*/
.contact ul {
    list-style: none;
    display: flex;
    justify-content:center;
 }

 /*this makes links dark color with no decoration*/
 .contact a{
    color:var(--dark);
    text-decoration:none;
    font-size: 12px;
 }

  /**this add a padding to the individual links*/
  .contact ul li {
    padding: 20px;
 }

 
 /*when hovering over links this makes them red*/
 .contact a:hover{
    color: var(--red);
 }

/*this sets a padding, height, background and text color and text stroke to footer*/
.footer {
    padding: 10px;
    background-color: var(--green);
    color: var(--light);
    -webkit-text-stroke: 0.2px var(--dark);
    height:50px;
    text-align: center;
 }

 



