:root {
    --light: #fffbf0;
    --red: #943d24;
    --dark: #282612;
    --green: #406e50aa;
    
}
/*tells browser to account for padding and border for the elements height and width*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    padding: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--green);
    color: var(--light);
    height: 80px;
}

.header h1 {
    font-size: 25px;
    display: inline-block;
    padding: 10px;
    -webkit-text-stroke: 0.5px var(--red);
}

/*this aligns nav bar to right of screen and changes nav background to red*/
.nav {
    background-color: var(--red);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 15px; 
} 

/*this adds a margin of 10px to the right of the links and removes list style*/
.nav ul {
    list-style: none;
    margin-right: 10px;
}

/* */
.nav ul li {
    padding: 5px;
    display:inline-block;
}

/*this sets a img at the main screen*/
.bg {
    height: 800px;
    width: 100%;
    margin-bottom: 0px;
    background-image: url("../images/akhood.png");
    background-size: cover;
    background-position: center;
}

/*this adds a padding, background color, text color and display grid to the content section*/
.content {
    padding: 20px;
    background-color: var(--light);
    color: var(--dark);
    display: grid;
    grid-template-columns: 100px 6fr;
    gap: 10px
}

/*this puts a border on the right of the left side, with padding alignment, font weight and size*/
.left-side {
    border-right: 2px solid var(--red);
    padding: 10px;
    text-align: end;
    font-weight: bold;
    font-size: 18px;
}

/*this give a border around content in about to a red glow*/
.about:hover {
    border: solid var(--red);
    box-shadow: 0px 0px 10px 0px var(--red)
    
}

/*this sets a margin and text size for the paragraph about me*/
.about p{
    margin:10px;
    font-size: 12px;
}

/*this sets a margin and text size for the paragraph My Work*/
.work p{
    width: 75%;
    padding: 10px;
    font-size: 12px;
}
/*this removes style from list, adds a margin and displays link to the bottom right*/
.contact ul {
    list-style: none;
    margin: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
 }

 /*this makes links dark color with no decoration*/
 .contact a{
    color:var(--dark);
    text-decoration:none;
 }

  /**this add a padding to the individual links*/
  .contact ul li {
    padding: 10px;
 }

 
 /*when hovering over links this makes them red*/
 .contact a:hover{
    color: var(--red);
 }

/*this sets a padding, height, background and text color and text stroke to footer*/
/*possible change to be in the content section, like about me and my work. replace with "this website was made with <3"*/
.footer {
    padding: 10px;
    background-color: var(--green);
    color: var(--light);
    -webkit-text-stroke: 0.2px var(--dark);
    height:50px;
    text-align: center;
 }

 
 


