:root {
    --light: #fffbf0;
    --red: #943d24;
    --dark: #282612;
    --green: #406e50aa;
    
}

.header {
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--green);
    color: var(--light);
    
}

.header h1 {
    font-size: 25px;
    display: inline-block;
}


.nav {
    background-color: var(--red);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 15px; 
} 


.nav ul {
    list-style: none;
    margin-right: 10px;

}

.nav ul li {
    margin: 5px;
    justify-content: flex-end;
    display:inline-block;
}

.content {
    padding: 20px;
    background-color: var(--light);
    color: var(--dark)
}

 